html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: right;
  padding-right: 4%;
  width: 50%;
  height: 5vh;
  border: 1px solid #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
