.container {
  padding: 0 0;
}

.main {
  min-height: 100vh;
  padding: 0 0;
  flex: 1;
  display: flex;
  background: rgb(255,191,105);
  background: linear-gradient(229deg, rgba(255,191,105,1) 0%, rgba(226,113,29,1) 100%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  border: 1px solid rgb(55, 0, 255);

  
}

.logo {
  width: 10vh;
  height: 10vh;
  margin-left: 2vh;
  margin-top: 4vh;
  border-radius: 200px;
}

.link {
  border: 1px solid rgb(136, 255, 0);
  margin-top: 1vh
} 

.sublink {
  border: 1px solid rgb(0, 0, 0);
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(119, 0, 0);
}

.sublinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 180px;
  padding: 15px;
  width: 100%;
  border: 1px solid rgb(30, 255, 0);
}